*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 50%;
    height: 100vh;
    background-image: url("https://files.lpu.in//umsweb//Events//umseventAssets//convo-bg.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
}
.image img{
    width: 100%;
}
.form-container{
    width: 40%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box, .loginBtn{
    width: 80%;
    height: 30px;
    margin: 5px;
    border-radius:3px;
    border: 1px solid gray;
    padding: 8px;
}

.input-box1{
    width: 72%;
    height: 30px;
    margin: 10px;
    border-radius:3px;
    border: 1px solid gray;
}
p{
    width: 80%;
    text-align: right;
}