*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    height: 1000px;
    border: 5px double black;
    padding: 20px;
}
h1{
    font-family: sans;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    padding: 20px;
}
h2{
    padding-bottom: 10px;
}
.personal-details{
    height: 350px;
    line-height: 25px;
}
.personal-details table tr td{
    width: 800px;
    padding-left: 10px;
}
.education{
    height: 200px;
}
.education table{
    width: 700px;
    border: 1px solid black;
    border-collapse: collapse;
}
.education table th{
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
}
.education table tr td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.other-education{
    height: 200px;
    padding: 10px;
}
.other-education ul li {
    margin-left: 50px;
}
span{
    font-weight: bold;
}
.sign{
    width: 700px;    
    display: flex;   
    margin-left: -20px ;
    position: relative;
    justify-content: end;
}
.sign p{ 
    margin-left: -120px ;
}

img{
    width: 150px;  
    padding-top: 30px;      
}