*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    background-color: darkblue;
    color: white;
    text-align: center;
    height: 50px;
    padding: 10px;
}
body{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-container{
    width: 430px;
    height: 500px;
    /* border: 2px solid rgb(120, 119, 119); */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 4px;
}
.container .text{
    text-align: center;
}
.container .text h1{
    font-size: 20px;
}
.container .text h3{
    font-size: 14px;
}
.container .text h5{
    font-size: 12px;
    color: darkblue;
}
.photo{
    width: 100px;
    border: 1px solid black;
    margin-left: 20px;
}
.bar-code{
    width: 320px;
    height: 50px;
    padding-left: 10px;
}
table{
    margin-left: 10px;
}
.information{
    color: darkblue;
    font-weight: bold;
    padding-left: 10px;
}